@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-purple: hsl(300, 43%, 22%);
  --secondary-pink: hsl(333, 80%, 67%);
  --dark-grey: hsl(303, 10%, 53%);
  --light-grey: hsl(300, 24%, 96%);

  --text-paragraph: 0.9375rem;
  --text-font: "League Spartan", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: var(--text-paragraph);
  font-family: var(--text-font);
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  flex: 1;

}

.first-section {
  display: grid;
  grid-template-columns: 0.66fr 1fr;
  gap: 100px;
  width: 100%;
  margin: 0 auto;
}


.first-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-div p {
  color: var(--dark-grey);
  line-height: 20px;
  font-weight: 500;
  width: 80%;
}


h1 {
  color: var(--primary-purple);
  font-weight: 700;
  font-size: 3.25rem;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 16px;


}

.rating {
  background-color: var(--light-grey);
  padding: 16px;
  width: 70%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--primary-purple);
  font-weight: 700;
}

.rating-1 {
  margin-left: 0;
}

.rating-2 {
  margin-left: 40px;
}

.rating-3 {
  margin-left: 80px;
}

.rating span {
  white-space: nowrap;
}

.stars {
  color: rgb(236, 202, 13);
}

.second-section {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

.review {
  background-color: var(--primary-purple);
  color: var(--light-grey);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 33%;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;
}

.user-information {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: var(--text-paragraph);

}

.user-information h2 {
  font-weight: 500;
}

.user-information span {
  color: var(--secondary-pink);
}

.review-1 {
  margin-top: 0;
}

.review-2 {
  margin-top: 20px;
}

.review-3 {
  margin-top: 40px;
}

footer {
  font-size: 1.24rem;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

@media (max-width: 750px) {
  main {
    margin: 30px 0 0 0;
    padding: 35px;
    gap: 50px;
  }


  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .first-section div {
    align-items: center;
  }

  .first-section div h1 {
    text-align: center;
  }

  .rating {
    width: 100%;
    justify-content: space-around;

  }

  .rating-2 {
    margin-left: 0;
  }

  .rating-3 {
    margin-left: 0;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .review {
    width: 70%;
  }

  .review-2 {
    margin-top: 0
  }

  .review-3 {
    margin-top: 0;
  }

footer {
  font-size: 1.125rem;
}

@media (max-width: 460px) {
  .review {
    width: 100%;
  }

  footer {
    font-size: 0.9rem;
  }
} }