* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
    --primary-purple: hsl(300, 43%, 22%);
    --secundary-pink: hsl(333, 80%, 67%);
}